@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --big-font-size: 3rem;
}


/* === MENU DA PAGINA === */

#menu {
  background-color: white;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #E2E5E5;
}

#logo {
  color: #9D7715;
  font-family: 'Marcellus SC';
  font-size: 33px;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;

}

.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #9D7715;
}

.nav-link {
  position: relative;
  color: #000;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #AB9267;
  font-weight: 600;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #9D7715;
}
.section-title{
  color: #9D7715;
  font-family: 'Marcellus SC';
  margin-top: 2rem;
}
.img_1{
  margin-top: 10rem;
}
/* === CARD DE OBRAS GALERIA === */

#card {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#card .img-fluid {
  width: 20rem;
  height: 20rem;
  margin-top: 9px;
  border-radius: 10px;
}

#card h2 {
  color: #AB9267;
  font-weight: 600;
}

#card p {
  color: #AB9267;
}

a {
  text-decoration: none;
}
/* === FOOTER === */
.footer {
  background-color: rgba(157, 119, 21, 0.72);
  color: #000;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
  margin-top: 3rem;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer__social {
  margin-bottom: 2rem;
}

.footer__icon {
  font-size: 1.5rem;
  color: #000;
  margin: 0 0.6rem;
}